@import "../../styles/mixins.scss";

.aboutPage {
    @include page;
    margin-top: 13rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;


    @media (min-width: 1024px) {
        padding: 0;
      }
    @media (max-width: 500px) {
        margin-top: 0;
        overflow: unset;
    }

    .aboutImage {
        margin-left: auto;
        @media (max-width: 950px) {
            width: 100%;
        }
    }

    .aboutTopSection {
        display: flex;
        flex-direction: column;
        
    }


    .description {
        width: 60%;
        transform: translateY(-10rem);
        position: relative;
        @media (max-width: 950px) {
            width: 100%;
        }
    }

    .heading {
        font-size: 18rem;
        font-family: 'TT-variable', sans-serif;
        font-weight: 900;
        line-height: 14.7rem;
        color: var(--black);
        @media (max-width: 950px) {
            font-size: 10rem;
            line-height: 12rem;
        }

        @media (max-width: 500px) {
            font-size: 8rem;
            line-height: 8rem;
        }
    }

    .subhead{
        font-size: 4rem;
        color: #4F4F4F;
        margin-top: 4rem;
        @media (max-width: 500px) {
            font-size: 2rem;
        }
    }

    .whoSection{
        display: flex;
        gap: 2.6rem;

        @media (max-width: 1109px) {
            flex-direction: column;
        }
        

        .whoHeading{
            font-size: 10.4rem;
            font-family: 'TT-variable', sans-serif;
            font-weight: 900;
            line-height: 8.1rem;
            color: var(--black);
            flex: 1;
            @media (max-width: 950px) {
                font-size: 10rem;
                line-height: 12rem;
            }

            @media (max-width: 500px) {
                font-size: 8rem;
                line-height: 8rem;
            }

            @media (max-width: 400px) {
                font-size: 4.5rem;
                line-height: 100%;
            }
        }

        .whoList{
            display: flex;  
            flex-direction: column;
            gap: 5rem;
            flex: 3;
        }

        .whoItem{
            display: flex;
            gap: 2rem;
            min-height: 40.2rem;
            align-items: center;
            background-color: var(--button-color);
            color: var(--background);
            border-radius: 0.4rem;
            
            @media (max-width: 400px) {
                min-height: auto;
            }

            &Content{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 5rem;
                flex: 3;

                @media (max-width: 852px) {
                    padding: 3rem 2rem;
                }

              
            }

            &Heading{
                font-size: 6rem;
                font-family: 'TT-variable', sans-serif;
                font-weight: 900;
                line-height: 8.1rem;
                color: var(--beige);
                @media (max-width: 852px) {
                    font-size: 4rem;
                    line-height: 6rem;
                }
                @media (max-width: 400px) {
                    font-size: 3.5rem;
                    line-height: 100%;
                }
            }

            &Description{
                font-size: 2.6rem;
                // line-height: 1.5;
                @media (max-width: 852px) {
                    font-size: 2rem;
                }

                @media (max-width: 400px) {
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                }
            }
           
        }

        .whoImage {
            width: 26.9rem;
            height: 100%;
            flex: 1;
            @media (max-width: 1109px) {
                width: 100%;
                min-height: 40.2rem;
                flex: 1;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }


    }

    .missionSection{
        display: flex;
        gap: 3rem;
        margin-top: 10rem;
        height: auto;
        padding-bottom: 5rem;

        > *:nth-child(2) {
            transform: translateY(6rem);
        }

        @media (max-width: 600px) {
            flex-direction: column;
            gap: 0;
        }

    }

    .missionCard {
        height: 82.4rem;
        width: 64.3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #FFECCE;
        overflow: hidden;
        border-radius: 1rem;
        align-items: flex-start;
        justify-content: center;
        padding: 5rem;
        @media (max-width: 600px) {
            padding: 2rem;
            width: 100%;
            height: auto;
        }
    }

    .missionHeading{
        font-size: 22rem;
        font-family: 'TT-Italic', sans-serif;
        font-weight: 400;
        line-height: 100%;
        color: var(--button-color);
        @media (max-width: 950px) {
            font-size: 10rem;
            line-height: 12rem;
        }

        @media (max-width: 500px) {
            font-size: 8rem;
            line-height: 8rem;
        }
    }

    .missionDescription{
        font-size: 2.6rem;
        line-height: 1.5;
        @media (max-width: 852px) {
            font-size: 2rem;
        }
    }

}
