:root {
  --background: #F4EEDB; /* Cream/beige background */
  --foreground: #243c23; /* Dark green text color */
  --button-color: #25402D;
  --button-hover: #3a6538;
  --text-color: #122016;
  --white: #fff;
  --page-maxwidth: 1233px;
}

@font-face {
  font-family: 'TT-variable';
  src: url('/fonts/TT Trailers Trial Variable.ttf');
}

@font-face {
  font-family: 'TT-Italic';
  src: url('/fonts/TT Trailers Trial Italic.ttf');
}

@font-face {
  font-family: 'TT-LightItalic';
  src: url('/fonts/TT Trailers Trial Light Italic.ttf');
}

@font-face {
  font-family: 'Plantin MT Pro';
  src: url('/fonts/PlantinMTProLight.TTF');
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: var(--page-maxwidth);
  color: var(--text-color);
  margin: 0 auto;

}
html {
  font-size: 62.5%
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: 'Plantin MT Pro', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
