@import "../../styles/mixins.scss";

.sponsorForm {
    @include page;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 10rem 15rem;
    margin-top: 10rem;

    @media (max-width: 895px) {
        padding: 5rem;
    }

    @media (max-width: 425px) {
        padding: 2rem;
    }

    .title {
        font-family: 'TT-variable', sans-serif;
        font-size: 12.8rem;
        text-align: center;
        line-height: 12.8rem;

        @media (max-width: 895px) {
            font-size: 8rem;
            line-height: 8rem;
        }
        @media (max-width: 425px) {
            font-size: 6rem;
            line-height: 6rem;
        }
    }

    .description {
        font-size: 3.2rem;
        text-align: center;
        @media (max-width: 895px) {
            font-size: 3rem;
        }
        @media (max-width: 425px) {
            font-size: 2rem;
        }
    }

    .form {
        width: 50%;
        @media (max-width: 895px) {
            width: 80%;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
    }

    .inputField {
        width: 100%;
        background-color: #eae5d3;
        padding: 1.5rem 2.8rem;
        border: .1rem solid #c4c0b1;
        border-radius: 0.4rem;
        color: var(--text-color);
        font-size: 1.6rem;
    }

    .fieldGroup{
        margin-bottom: 2rem;
        label {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            display: block;
        }
    }

    .submitButton {
        font-size: 2.8rem;
        width: 100%;

    }

    .errorMessage {
        margin-top: 1rem;
        font-size: 1.3rem;
        color: var(--error);

    }

    .error {
        border-color: var(--error);

    }

     .communityPerks {
        width: 50%;
        text-align: center;
        margin: 4rem 0;
        @media (max-width: 895px) {
            width: 80%;
        }
        @media (max-width: 500px) {
            width: 100%;
        }

            h2 {
                font-size: 4rem;
                @media (max-width: 895px) {
                    font-size: 3.5rem;
                }
                @media (max-width: 425px) {
                    font-size: 2.5rem;
                }
            }
            p {
                font-size: 3rem;
            }
            ul {
                font-size: 2rem;
                margin: 2rem 0;
                list-style-type: none;
            }
            li {
                margin: .7rem 0;
            }
        }

        .countryList {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        .countryItem {
            padding: 1rem 2rem;
            background-color: var(--button-color);
            border-radius: 3rem;
            color: var(--white);
            font-size: 1.6rem;
            cursor: pointer;
        }

        .btnGroup {
            display: flex;
            margin-bottom: 1rem;
            border-radius: 3rem;
            color: var(--text-color);
            width: fit-content;    

        }

        .btnOption {
            color: var(--text-color);
            padding: 1rem 3rem;
            font-size: 1.6rem;
            background-color: transparent;
            cursor: pointer;
            border: 1px solid var(--button-color);

            &Selected {
                background-color: var(--button-color);
                color: var(--white);
            }
        }
        .btnOption:first-child {
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
        }
        .btnOption:last-child {
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
            border-left: none;
        }

}

.msgDescription{
    font-size: 1.6em;
}